[Unit]
Description=OBview.io Application
After=network.target postgresql.service

[Service]
Type=simple
User=obtv-admin
WorkingDirectory=/opt/obview
ExecStart=/usr/bin/node /opt/obview/server.js
Restart=on-failure
Environment=NODE_ENV=production
Environment=PORT=5000
Environment=DATABASE_URL=postgresql://obviewuser:tbn123456789@localhost:5432/obview

[Install]
WantedBy=multi-user.target